<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" height="40" class="logo"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listbyname">List by Name <span class="sr-only">(current)</span></a>
            <!-- change href above probably -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listbytype">List by Type <span class="sr-only">(current)</span></a>
            <!-- change href above probably -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listbydistrict">List by District <span class="sr-only">(current)</span></a>
            <!-- change href above probably -->
          </li>
        </ul>
      </div>
    </nav>

  </br>
    <%- body %>
  </br>

    <footer class="page-footer font-small bg-dark" style="color:whitesmoke;">
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright: Tristan Calleja
      </div>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>