

.card{
    border-radius: 10px;
    border-color: black;
    background-color: #F5F5F5;
}

.accordeon-cards{
    background-color: rgba(235, 233, 233, 0.712);
}

a:link {
    text-decoration: none;
    color: #A63434;
  }

  a:visited {
    color: #A63434;
  }

  a:hover {
    text-decoration: underline;
  }

.homepageImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.homepageImage {
    height: auto;
    width: auto;
}

.logo{
    border-radius: 50%;
}

.control-label{
    font-weight: bold;
}

.btn-form{
    float: right;
}

.btn-light{
    border: solid 1px black;
}

.card-contact-details{
    line-height: 0.5;
}

/* .card-img-top{
    max-width: 400px;
    max-height: 350px;
} */