body{
    background-color: #fff7ea;
}


.card{
    border-radius: 10px;
    border-color: solid black 5px;
    background-color: #ffd6ba;
}

.btn-secondary{
    background-color: #4682B4;
    color: white !important;
}

.btn-outline-secondary{
    background-color: #4682B4;
    color: white !important;
}

.accordeon-cards{
    background-color: #FFEFD5;
}

.accordeon-buttons{
    background-color: #4682B4;
}

a:link {
    text-decoration: none;
    color: #4682B4;
  }

  a:visited {
    color: #96b9d5;
  }

  a:hover {
    text-decoration: underline;
    color: #4682B4;
}

.a-card{
    color: black;
}

.homepageImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.homepageImage {
    height: auto;
    width: auto;
}

.logo{
    border-radius: 50%;
}

.control-label{
    font-weight: bold;
}

.btn-form{
    float: right;
}

.btn-light{
    border: solid 1px black;
}

.card-contact-details{
    line-height: 0.5;
}

.card-img-top{
    border-color: solid white 5px;
}