<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>What is and why natural wine?</h2>
            <p>Lorem ipsum dolor sit amet, possit verterem ei ius, pro voluptua persecuti ne. Pro oratio invidunt ne. Ne prima summo diceret vis, movet mentitum at mea, in cum alii nominati forensibus. Timeam molestie salutatus eu mei. Eos eu alii verear, enim nulla doming duo et.

                Vel utinam gloriatur at, ius tollit persecuti no. Ne mea partem persius assentior, commodo blandit detracto ex mea. Ea pericula philosophia nam, putant singulis definitionem duo et. Quo liber vulputate an, ex suavitate hendrerit has.
                
                Vide velit labore ne mea. Meis etiam maiorum sed cu, illud illum harum id usu, malis nihil cum cu. Porro assentior dissentias est ex, cu pro posse regione suavitate. Salutatus abhorreant reprimique has no, meis necessitatibus an est. Ea possit placerat deseruisse pro, ius diceret luptatum cu, cu eam utamur imperdiet.
                
                Mollis democritum temporibus nam te. Antiopam cotidieque in nam. Eligendi appareat indoctum his ut, tantas doming fastidii sed eu, wisi apeirian id pri. Fugit aperiam apeirian vim an, eos modus putant latine at. Velit mollis an vis. Ei prima adolescens mei, aliquid eligendi cum an, ex nonumy vocibus urbanitas per.
                
                Mea in rationibus temporibus, ut mel natum insolens explicari. Vis an graece option, at cum melius option. Est et decore dignissim torquatos, discere maiestatis his ea. Vel eros malorum salutandi ne, pri ei movet dissentias. Ea ipsum oporteat conceptam sit, iusto nominavi nam ad, eu minimum qualisque rationibus sed. Vim mazim eruditi te.</p>
        </div>
    </div>
    <hr>
    </br>
    <div class="row">
        <div class="col-md-8">
            <img src="/img/sheeps-in-vines.jpeg" alt="IMAGE HOME PAGE" class="homepageImage">
        </div>
        <div class="col-md-4">
            <h2>RANDOM CARD</h2>
        </div>
    </div>
</div>
</br>