<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 style="text-align: center; line-height: 0.7; color: #A63434;">Where To Natural?</h1>
                <h3 style="text-align: center; line-height: 0.7;">Your natural wine guide for Singapore</h3>
            </div>
        </br>
            <h4><i>Having fun while doing good for the Earth</i></h4>
            <p style="text-align: justify;">
            </br>
                If you’re even slightly into wine, you’ve probably heard about natural wine. 
                Natural wine is the unfiltered, untamed, un-photoshopped version of what we know to be wine. 
                In most cases, natural wine doesn’t look or taste like a typical wine. 
                In fact, some natural wines taste more like a sour beer or kombucha!
            </br></br>
                Think about music. Most people will listen to mainstream pop music. 
                And even those who don't, probably have a few songs here and there that they like and keep as a guilty pleasure.
                Natural Wine is like going to a small improvised acoustic gig. It can be bad at times but, if it's good, you're most likely to remember it for a very long time.
                Why? The singularity and level of intimacy you get.
                And that's what you get when you get into Natural Wine.
            </br></br>
                If you want to learn more about Natural Wine itself you can have a look at this <a href="https://winefolly.com/deep-dive/really-natural-wine/">website</a> 
                which explains it really well or check <a href="https://www.vox.com/the-goods/2019/6/10/18650601/natural-wine-sulfites-organic">this article on VOX</a>.
            </p>
        </div>
    </div>
    <hr>
    </br>
    <div class="row">
        <div class="col-md-8">
            <img src="/img/Bottles.png" alt="IMAGE HOME PAGE" class="homepageImage">
        </div>
        <div class="col-md-4">
            <h2>RANDOM CARD</h2>
        </div>
    </div>
</div>
</br>