<h2>Add a new district</h2>
</br>
<form action="/district/new" method="POST">
    <div class="input-group mb-3 col-md-10">
        <input type="text" class="form-control" name="name" placeholder="District Name" aria-label="District Name" aria-describedby="District Name">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Create</button>
        </div>
    </div>
</form>